<form [formGroup]="statFiltersGroup">

  <label>
    Video title:
    <input type="text" formControlName="partialVideoTitle" />
  </label>

  <div *ngIf="
    statFiltersGroup.get('partialVideoTitle')?.hasError('minlength') &&
    statFiltersGroup.get('partialVideoTitle')?.touched
  ">
    Please enter at least
    
    {{ statFiltersGroup.get('partialVideoTitle')?.errors.minlength.requiredLength }}
    
    characters.
    
    You only entered

    {{ statFiltersGroup.get('partialVideoTitle')?.errors.minlength.actualLength }}

    character(s).

  </div>

<!--
  <pre>{{ statFiltersGroup.get('partialVideoTitle')?.errors | json }}</pre>
-->

</form>
