<app-video-list
 [videoListData]="videoList | async"
 [selectedVideo]="currentVideo | async"
 class="column"
></app-video-list>

<app-video-player [video]="currentVideo | async" class="column"></app-video-player>

<app-stat-filters class="column"></app-stat-filters>
